<!DOCTYPE html>
<html lang="en" ng-app="app.todos">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="./assets/CSS/profile.css">

    <title>Profile</title>
</head>

<body ng-controller="todoController">
    <div id="container">
        <div id="header">
            <div id="menu">
                <div id="exit-icon">
                    <img class="icon" src="./assets/icons/close.png" alt="close-icon">
                </div>
                <div id="profile" class="box">
                    <img class="img-small" src=<%= user.local.photoURL %> alt="avatar">
                    <div class="font font--small font--bold">
                        <%= user.local.fullname %>
                    </div>
                </div>
                <div class="box">
                    <i class="fas fa-briefcase"></i>
                    <div class="font font--small font--bold">Work</div>
                </div>
                <div class="box">
                    <i class="fas fa-briefcase"></i>
                    <div class="font font--small font--bold">My day</div>
                </div>
                <div class="box">
                    <i class="fas fa-briefcase"></i>
                    <div class="font font--small font--bold">My team</div>
                </div>
            </div>
            <!--END_MENU-->
            <div id="information">
                <div id="search">
                    <div id="menu-icon">
                        <img class="icon" src="./assets/icons/menu.png" alt="menu-icon">
                    </div>
                    <input class="font" type="text" placeholder="Search">
                </div>
                <div id="time_now" class="font font--big font--white">
                    <%= dateChange.acronymDate[time_now.getDay()]%>,
                    <%= time_now.getDate() %>
                    <%= dateChange.acronymMonth[time_now.getMonth()]%>
                    <%= time_now.getFullYear() %>
                </div>
            </div>
        </div>
        <!--END_HEADER-->
        <div id="content">
            <div id="todo-container">
                <div class="todo" ng-repeat="todo in todos">
                    <input class="tick" type="checkbox" name="check" ng-model="todo.isDone">
                    <span ng-class="{strike: todo.isDone}"
                        class="todo-text font--bold font--small tick">{{ todo.text }}</span>
                </div>
            </div>
            <div id="options-container">
                <div id="options">
                    <div id="add-todo" class="option">
                        <img class="icon icon--toobig" src="./assets/icons/add.png" alt="add-icon">
                        <span class="font font--bold font--small">Add</span>
                    </div>
                    <div id="edit-todo" class="option">
                        <img class="icon icon--toobig" src="./assets/icons/edit.png" alt="update-icon">
                        <span class="font font--bold font--small">Edit</span>
                    </div>
                    <div id="delete-todo" class="option">
                        <img class="icon icon--toobig" src="./assets/icons/delete.png" alt="delete-icon">
                        <span class="font font--bold font--small">Delete</span>
                    </div>
                </div>
            </div>
        </div>
        <!--END_CONTENT-->

        <div id="footer"></div>
        <!--END_FOOTER-->
    </div>
    <!--END_CONTAINER-->
    <div id="action-container">
        <div id="add_todo" class="action_todo">
            <div id="time">
                <div class="time-choice">
                    <input type="radio" name="time-choice" value="today">
                    <span class="font font--bold">Today</span>
                </div>
                <div class="time-choice">
                    <input type="radio" name="time-choice" value="tomorrow" checked>
                    <span class="font font--bold">Tomorrow</span>
                </div>
                <div class="time-choice">
                    <input type="radio" name="time-choice" value="daily">
                    <span class="font font--bold">Daily</span>
                </div>
                <div class="time-choice">
                    <input type="radio" name="time-choice" value="option">
                    <span class="font font--bold">Option</span>
                </div>
                <div id="time-option">
                    <select size="2" id="day" title="Ngày" name="day" class="font--bold">
                        <option value="1">1</option>
                        <option value="1">1</option>
                        <option value="1">1</option>

                    </select>
                    <select size="2" name="month" id="month" title="Tháng" class="font--bold">
                        <option value="1">1</option>
                        <option value="1">1</option>
                        <option value="1">1</option>
                    </select>
                    <select size="2" id="year" name="year" title="Năm" style="width: 2.7em" class="font--bold">
                        <option value="2019">2019</option>
                        <option value="2019">2019</option>
                        <option value="2019">2019</option>
                        <option value="2019">2019</option>
                    </select>
                </div>
            </div>
            <!--end-time-->
            <div id="add-form">
                <form action="" method="POST">
                    <input type="text" name="add-content" id="add-content" class="font--small">
                    <div id="add-btn" class="btn font--small font--bold font--white">Add</div>
                </form>

            </div>
            <div id="close-add-form">
                <img class="icon" src="./assets/icons/close.png" alt="close-icon">
            </div>
        </div>
        <!--END_ADD_TODO-->

        <div id="delete_todo" class="action_todo">
            <div class="todo" ng-repeat="todo in todos">
                <input type="checkbox" class = "remove" name="check" ng-model="todo.isDone">
                <span ng-class="{strike: todo.isDone}" class="todo-text font--bold font--small remove">{{ todo.text }}</span>
            </div>

            <div id="delete-form">
                <form action="" method="POST">
                    <div id="add-btn" class="btn btn--red font--small font--bold font--white">Delete</div>
                </form>

            </div>

            <div id="close-delete-form">
                <img class="icon" src="./assets/icons/close.png" alt="close-icon">
            </div>
        </div><!--END-DELETE_TODO-->

        <div id="edit_todo" class="action_todo">
            <div class="todo" ng-repeat="todo in todos">
                <input type="checkbox" class = "tick" name="check" ng-model="todo.isDone">
                <!-- <span ng-class="{strike: todo.isDone}" class="todo-text font--bold font--small remove">{{ todo.text }}</span> -->
                <input class="todo-text font--bold font--small" type="text" value="{{ todo.text }}">
            </div>

            <div id="edit-form">
                <form action="" method="POST">
                    <div id="edit-btn" class="btn btn--green font--small font--bold font--white">Edit</div>
                </form>

            </div>

            <div id="close-edit-form">
                <img class="icon" src="./assets/icons/close.png" alt="close-icon">
            </div>
        </div><!--END-DELETE_TODO-->
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js"></script>
    <script src="./assets/JS/main/app.js"></script>
    <script src="./assets/JS/profile.js"></script>
</body>

</html>